@import url("main.css");

#logo:hover {
    cursor: pointer;
}

#main {
    align-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#main img {
    width: 110px;
    margin: 10px;
}

#main label {
    display: inline-block;
    font-family: 'Bree Serif';
    color: rgb(210,190,120);
    margin-right: 40px;
    line-height: 25px;
}

#main input[type="radio"] {
    margin-left: 25px;
    width: 15px;
}

#main input[type="radio"]:checked,
#main input[type="radio"]:focus {
    width: 30px;
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: 0;
    border-style: none;
}

.main-icon {
    margin: 5px -5px -5px -5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: inline-block;
}

.main-icon:hover {
    background-color: rgba(250,254,251,0.15);
    cursor: pointer;
}

.main-icon img {
    padding-top: 15px;
    margin-bottom: -25px;
    width: 32px;
    height: 32px;
}

input {
    width: 300px;
    height: 30px;
    text-align: center;
    border: 1px rgba(255,255,255,0.2) solid;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: white;
    background-color: rgba(254,254,255,0.1);
}

input:focus {
    outline: 0;
    border-color: rgba(250,220,190,0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(250,220,190,.1), 0 0 8px rgba(255,255,255,0.6);
    box-shadow: 0 0 1px 1px rgba(250,220,190,.4);
}

#say-button {
    color: white;
    background-color: rgba(150,90,30,0.6);
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}

#say-button:hover, #say-button:active {
    background-color: rgb(250,250,250);
    color: black;
    outline: 0;
}

#decoded-message, #played-message {
    margin: 0;
    padding: 0;
}

#played-message {
    font-size: 1.2em;
    color: yellow;
}
