html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Bree Serif";
    color: white;
}

#logo {
    width: 400px;
    height: 120px;
    margin-top: 25px;
    display: inline;
}

#logo:hover {
    cursor: pointer;
}

#github {
    margin: 5px;
    width: 36px;
    height: 36px;
    opacity: 0.6;
    cursor: pointer;
}

#github:hover {
    opacity: 1;
}

#about {
    color: white;
    font-family: 'Bree Serif';
    font-size:  14px;
    margin-bottom: 40px;
}

#filler {
    margin-left: 7px;
    margin-right: 7px;
    opacity: 0.8;
    font-size: 0.9em;
    display: inline-block;
    transform: rotate(-20deg);
}

#main {
    align-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    word-wrap: break-word;
}

#tones img {
    height: 90px;
    margin: 7px 0px -25px 7px;
    padding-bottom: 20px;
}

.tone {
    padding-top: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.selected-tone {
    border-bottom: 2px rgba(255,255,255,0.8) solid;
}

input {
    width: 300px;
    height: 30px;
    text-align: center;
    border: 1px rgba(255,255,255,0.2) solid;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: white;
    background-color: rgba(254,254,255,0.1);
}

input:focus {
    outline: 0;
    border-color: rgba(250,220,190,0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(250,220,190,.1), 0 0 8px rgba(255,255,255,0.6);
    box-shadow: 0 0 1px 1px rgba(250,220,190,.4);
}

#say-button {
    color: white;
    background-color: rgba(150,90,30,0.6);
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}

#say-button:hover, #say-button:active {
    background-color: rgb(250,250,250);
    color: black;
    outline: 0;
}

#decoded-message, #played-message {
    margin: 0;
    padding: 0;
    font-family: "Bree Serif";
}

#played-message {
    font-size: 1.2em;
    color: yellow;
}

#main canvas {
    width: 360px;
    padding: 10px;
}

#active-visualize {
    height: 50px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}

#inactive-visualize {
    height: 0px;
}
