html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background: rgb(195, 177, 159);
    background: -webkit-linear-gradient(rgb(195, 177, 159) 0%, rgb(35, 35, 32) 100%);
    background: -o-linear-gradient(rgb(195, 177, 159) 0%, rgb(35, 35, 32) 100%);
    background: linear-gradient(rgb(195, 177, 159) 0%, rgb(35, 35, 32) 100%);
    background-attachment: fixed;
    font-family: "Bree Serif";
    color: white;
}

#logo {
    width: 400px;
    height: 120px;
    margin-top: 25px;
    display: inline;
}

#github {
    margin: 5px;
    width: 36px;
    height: 36px;
    opacity: 0.6;
    cursor: pointer;
}

#github:hover {
    opacity: 1;
}

#about {
    color: white;
    font-family: 'Bree Serif';
    font-size:  14px;
    margin-bottom: 40px;
}
